/*** catalizator section list **/
.catalizator-section {
	padding: 13px 0;
}
.catalizator-section .title {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	background-color: #0f51a3;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	padding: 0 42px;
}
.catalizator-section .row {
	padding: 27px 15px;
}

.catalizator-section .row > div {
	padding: 0;
}

.catalizator-section .row .wrap-icon{
	border: 1px solid #c4c4c4;
	height: 61px;
	display: block;
	padding: 10px;
}
.catalizator-section .row .wrap-icon:hover {
	border: 1px solid #e8b61f
}
.catalizator-section .row .wrap-icon i {
	float: left;
}
.catalizator-section .row .wrap-icon .section-name {
	float: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #000;
	width: 68%;
	display: block;
}

/*Phones (<768px)*/
@media (max-width: 767px) {
	.catalizator-section .title {
		text-align: left;		
	}
}

@media (max-width: 390px) {
	.catalizator-section .title {
		font-size: 12px;
		line-height: 32px;
	}
	.catalizator-section .row .wrap-icon .section-name {
		display: none;
	}
	.catalizator-section .row .wrap-icon i {
		margin: 0 auto;
		float: none;
	}
}

.catalizator-section .row .wrap-icon .iconsection-car+span{
	padding-left: 10px;
}

/** section icon **/
i[class^="iconsection-"], i[class*=" iconsection-"] {
    background-image: url("../img/section-sprite.png");
    background-repeat: no-repeat;
    display: block;
    width: 47px;
    height: 37px;
}

.iconsection-dress		{ background-position:		0 0;}
.iconsection-clock 		{ background-position: 	-50px 0;}
.iconsection-child 		{ background-position: -100px 0;}
.iconsection-sofa 		{ background-position: -150px 0;}
.iconsection-car 		{ background-position: -200px 0;}
.iconsection-bag 		{ background-position: -250px 0;}
.iconsection-computer	{ background-position: -300px 0;}
.iconsection-ring 		{ background-position: -350px 0;}
.iconsection-sound 		{ background-position: -400px 0;}
.iconsection-phone 		{ background-position: -450px 0;}
.iconsection-short 		{ background-position: -500px 0;}
.iconsection-parfum 	{ background-position: -550px 0;}
.iconsection-tractor 	{ background-position: -600px 0;}
.iconsection-chemistry 	{ background-position: -650px 0;}
.iconsection-book 		{ background-position: -700px 0;}
.iconsection-cook 		{ background-position: -750px 0;}
.iconsection-fish 		{ background-position: -800px 0;}
.iconsection-apple		{ background-position: -850px 0;}
.iconsection-other 		{ background-position: -900px 0;}

/** drop hover */
.drop-hover {
	position: relative;
}
.drop-hover.header-functionality-entry *{
	color: #747474;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}

/*** панель ***/

.categories-list ul li.menu-sub-title {
	border: 1px solid #fff;
	color: #0f51a3;
	margin-bottom: 5px;
}

select.simple-field option {padding: 10px 5px}

.sections-panel .cart-table td{padding: 20px 15px; border-bottom: none}
.sections-panel.information-blocks, .sections-panel .information-blocks {margin-bottom: 50px}

.padding-bottom-10 {padding-bottom: 10px}

#menusections {
	max-width: 1310px;
	padding: 50px 0;
}

.multiple-drop-down:after {
	content: normal;}
.multiple-drop-down, .multiple-drop-down.simple-field select {height: 175px; padding: 20px}

.padding-top-30 {padding-top: 30px}
.padding-right-40 {padding-right: 40px}

.product-detail-box .price .whosale {letter-spacing: normal; font-size: 16px; color: #9c9c9c; font-weight: 400; vertical-align: middle; margin-right: 7px;}

input[type="file"].simple-field {padding: 0px; border: none}

.nonaccordeon-title {
	border-top: 1px solid #ebebeb;
	color: #262626;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	padding: 15px 15px 15px 0;
	position: relative;
	text-transform: none;
	display: block;
}
.drop-hover-div {
	position: relative;
	z-index: 1000;
}
.dropped-div{

	padding: 30px;

	/* Size & position */
	position: absolute;
	top: 100%;
	left: -100px; /* Size */
	right: -100px; /* Size */

	/* Styles */
	background: #fff;
	font-weight: normal; /* Overwrites previous font-weight: bold; */

	/* Hiding */
	display: none;
	/*opacity: 0;*/
	/*pointer-events: none;*/
}

.padding-bottom-30 {padding-bottom: 30px}