strong {
	font-weight: bold;
}
/*** catalizator section list **/
.catalizator-section {
	padding: 13px 0;
}
.catalizator-section .title {
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	background-color: #0f51a3;
	text-align: right;
	text-transform: uppercase;
	color: #fff;
	padding: 0 42px;
}
.catalizator-section .row {
	padding: 27px 15px;
}

.catalizator-section .row > div {
	padding: 0;
}

.catalizator-section .row .wrap-icon{
	border: 1px solid #c4c4c4;
	height: 61px;
	display: block;
	padding: 10px;
}
.catalizator-section .row .wrap-icon:hover {
	border: 1px solid #e8b61f
}
.catalizator-section .row .wrap-icon i {
	float: left;
}
.catalizator-section .row .wrap-icon .section-name {
	float: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #000;
	width: 68%;
	display: block;
}

/*Phones (<768px)*/
@media (max-width: 767px) {
	.catalizator-section .title {
		text-align: left;		
	}
}

@media (max-width: 390px) {
	.catalizator-section .title {
		font-size: 12px;
		line-height: 32px;
	}
	.catalizator-section .row .wrap-icon .section-name {
		display: none;
	}
	.catalizator-section .row .wrap-icon i {
		margin: 0 auto;
		float: none;
	}
}

.catalizator-section .row .wrap-icon .iconsection-car+span{
	padding-left: 10px;
}

/** section icon **/
i[class^="iconsection-"], i[class*=" iconsection-"] {
    background-image: url("../img/section-sprite.png");
    background-repeat: no-repeat;
    display: block;
    width: 47px;
    height: 37px;
}

.iconsection-dress		{ background-position:		0 0;}
.iconsection-clock 		{ background-position: 	-50px 0;}
.iconsection-child 		{ background-position: -100px 0;}
.iconsection-sofa 		{ background-position: -150px 0;}
.iconsection-car 		{ background-position: -200px 0;}
.iconsection-bag 		{ background-position: -250px 0;}
.iconsection-computer	{ background-position: -300px 0;}
.iconsection-ring 		{ background-position: -350px 0;}
.iconsection-sound 		{ background-position: -400px 0;}
.iconsection-phone 		{ background-position: -450px 0;}
.iconsection-short 		{ background-position: -500px 0;}
.iconsection-parfum 	{ background-position: -550px 0;}
.iconsection-tractor 	{ background-position: -600px 0;}
.iconsection-chemistry 	{ background-position: -650px 0;}
.iconsection-book 		{ background-position: -700px 0;}
.iconsection-cook 		{ background-position: -750px 0;}
.iconsection-fish 		{ background-position: -800px 0;}
.iconsection-apple		{ background-position: -850px 0;}
.iconsection-other 		{ background-position: -900px 0;}

/** drop hover */
.drop-hover {
	position: relative;
}
.drop-hover.header-functionality-entry *{
	color: #747474;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}

/*** панель ***/

.categories-list ul li.menu-sub-title {
	border: 1px solid #fff;
	color: #0f51a3;
	margin-bottom: 5px;
}

select.simple-field option {padding: 10px 5px}

.sections-panel .cart-table td{padding: 20px 15px; border-bottom: none}
.sections-panel.information-blocks, .sections-panel .information-blocks {margin-bottom: 50px}

.padding-bottom-10 {padding-bottom: 10px}

#menusections {
	max-width: 1310px;
	padding: 50px 0;
}

.multiple-drop-down:after {
	content: normal;}
.multiple-drop-down, .multiple-drop-down.simple-field select {height: 175px; padding: 20px}

.padding-top-30 {padding-top: 30px}
.padding-right-40 {padding-right: 40px}

.product-detail-box .price .whosale {letter-spacing: normal; font-size: 16px; color: #9c9c9c; font-weight: 400; vertical-align: middle; margin-right: 7px;}

input[type="file"].simple-field {padding: 0px; border: none}

.nonaccordeon-title {
	border-top: 1px solid #ebebeb;
	color: #262626;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	padding: 15px 15px 15px 0;
	position: relative;
	text-transform: none;
	display: block;
}
.drop-hover-div {
	position: relative;
	z-index: 1000;
}
.dropped-div{

	padding: 30px;

	/* Size & position */
	position: absolute;
	top: 100%;
	left: -100px; /* Size */
	right: -100px; /* Size */

	/* Styles */
	background: #fff;
	font-weight: normal; /* Overwrites previous font-weight: bold; */

	/* Hiding */
	display: none;
	/*opacity: 0;*/
	/*pointer-events: none;*/
}

.padding-bottom-30 {padding-bottom: 30px}

.block-title.active {background-color: #f3f3f3; padding: 10px 0;  text-align: center;}
.catalog-parent-section {padding-bottom: 10px}
.block-title {border: none}

.cart-column-title {padding: 0 0 20px; border-top: none}
.cart-summary-box .grand-total {font-size: 16px}
#addcart-popup .cart-buttons {margin-top: 20px}
#addcart-popup .cart-buttons .column {width: 33%}
#addcart-popup .cart-buttons .column:first-child {padding-right: 0!important; padding-left: 10px !important;}
.cart-table td.nopadding {padding-right: 0; padding-left: 0}

#checkoutPage textarea.simple-field {height: 100px}
#checkoutPage .cart-table th {border-top: none; font-weight: lighter; font-size: 12px}
#checkoutPage .cart-table th, #checkoutPage .cart-table td {padding: 15px 20px;}
#checkoutPage .accordeon {margin-bottom: 0px}

.table.table-striped.panel th {font-weight: bold; border: none; width: 20%}
.table.table-striped.panel td {border: none; text-align: right; padding-right: 3%}

#checkout_auth .login-box {min-height: 570px}
#checkout_auth {margin-bottom: 25px}

.width-pixel-150{ width: 150px}

.quantity-selector .entry.minus:before, .quantity-selector .entry.plus:before{content: ""; width: 11px; height: 1px; background: #4d4d4d; left: 50%; margin-left: -5.5px; top: 50%; margin-top: -0.5px; position: absolute;}
.quantity-selector .entry.plus:after{content: ""; height: 11px; width: 1px; background: #4d4d4d; left: 50%; margin-left: -0.5px; top: 50%; margin-top: -5.5px; position: absolute;}
.quantity-selector .entry.minus:hover, .quantity-selector .entry.plus:hover{background: #ca1515;}

/* автокомплит */
.typeahead {width: 100%; margin-bottom: 2px}
.tt-menu{box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.7); width: 100%; background-color: #FFFFff; padding: 20px; line-height: 20px; cursor: pointer}
.tt-cursor{background-color: #d1d1d1;}
.tt-highlight{font-weight: bold}
.tt-suggestion.tt-selectable{padding: 10px 0}
.box_shadow {box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.7)}
.inline-label.red i {color: #FFFFff}

.height70 {height: 70px!important;}

/* comments */
.comment-content {
	margin-left: 0;
}
#comments-list {
	min-height: 100px;
}
#comments-list .divider,
#faq-list .divider{
	display: inline;
}
#comments-list .list,
.faq.pull-left {
	margin: 30px 0;
}

.product-image-label span {font-size: 9px;}
.oderReturn {background-color: #9c9c9c; color: #FFFFff}
.oderReturn a {color: #d41b1b;}
.left20 {margin-left: 20px}

.product-detail-box .rating-box .star {
	color: inherit;!important;
}

.breadcrumb-box span{display: inline-block; font-size: 13px; color: #696969; line-height: 16px; margin-right: 7px; padding: 7px 0;}

.list-breadcrumb{
	margin-bottom: 25px;
}

.list-breadcrumb .breadcrumb-box{
	margin-bottom: 0;
}

#logo img {max-height: 64px}

.cart-table .quantity-selector {
	width: 120px;
}

.swiper-slide .navigation-banner-wrapper .info {
	min-width: 258px;
}

.cabinet>.dropdown-menu {
	display: block;
	position: relative;
	width: 293px;
	left: -29px;
	top: -30px;
	text-align: right;
	padding-right: 7px;
	padding-top: 22px;
}

.cabinet>.dropdown-menu ul ,
.cabinet>.dropdown-menu .block-title
{
	padding-right: 20px;
}

#search-head .search-drop-down {
	width: 170px;
}

.search-box.size-1 #search-head  .search-field {
	margin-right: 210px;
}

.payment-methods a {cursor: inherit}

.footer-wrapper .style-2 {text-align: justify}

.container-404 {padding: 0}
.container-404 .description {font-size: 60px}